@import '../varibles/index.scss';

.font-xxs {
  font-size: $sizeFontXXS;
}

.font-xs {
  font-size: $sizeFontXS;
}

.font-s {
  font-size: $sizeFontS;
}

.font-m {
  font-size: $sizeFontM;
}

.font-l {
  font-size: $sizeFontL;
}

.font-xl {
  font-size: $sizeFontXL;
}

.font-xxl {
  font-size: $sizeFontXXL;
}
